@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lexicon läroplattform</h1>
    <p class="lead">Lexicon läroplattform hanterar registrerade lärare och elever och arbete som pågår.</p>
    <p class="lead">Registrera dig som är elev nu om du vet portkoden till klassrummet.</p>
    <p class="lead">Och du kan logga in och börja arbeta så fort läraren har godkännt dig som elev.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Logga in lärare &raquo;</a></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Logga in elev &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Börja arbeta</h2>
        <p>För att kunna registrera sig måste man känna till portkoden till klassrummet. Detta förhindrar utomstående att registrera sig.</p>
        <p>En registrerad användare blir godkänd av en lärare antingen som lärare eller elev och då först får tillgång till läroplattformen.</p>
        <p>Registrering sköts av individen och inte av lärare. Lärarens tid frigörs från detta monotona arbetet.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lärare</h2>
        <p>Lärare ser sitt aktuella schema och kan agera utifrån schemat.</p>
        <p>Lärarna lägger upp kurser, moduler och aktiviteter och kan ge feedback på inlämnad uppgift.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Elev</h2>
        <p>Elev ser sitt aktuella schema och kan agera utifrån schemat.</p>
        <p>Elev lämnar in uppgifter som filer och kan läsa feedback på inlämnad uppgift.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>