@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Välkommen till Lexicon LMS</h1>
    <br />
    <p class="lead" style="text-align:center">Lexicon LMS är en läroplattform som förenklar och centraliserar kommunikationen mellan lärare, lärosäte och elev genom att samla schema, kursmaterial, övrig information, övningsuppgifter och inlämningar på ett och samma ställe.</p>
    <br />
    <p class="text-center"><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Logga in &raquo;</a></p>    
</div>
