@model IEnumerable<Läroplattform.LäroplanViewModels.TeacherSchema>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Lärarens schema</h2>

<h4>
    @ViewBag.CurrentUserMessage
</h4>
<div>
    <p><a href="@Url.Action("Index", "UserManagement")" class="btn btn-primary btn-lg">User management &raquo;</a></p>
</div>
