@model IEnumerable<Läroplattform.LäroplanViewModels.UserManagement>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>User management</h2>

<h4>
    @ViewBag.CurrentUserMessage
</h4>
<div>

</div>
